.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
}

.background{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 145px;
    height: 145px;
    justify-content: space-between;
}

.part1{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.part2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.image1{
    width: 110px;
    height: 110px;
}

.greenBottom{
    display: flex;
    background-color: #6FC3B2;
    width: 145px;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    position: absolute;

}

.p1{
    display: flex;
    z-index: 1;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}