@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap');
html,
body {
    display: flex;
    justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
